.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.35);
}

.card_overlay {
  overflow: hidden;
  height: 500px;
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  background-color: rgba(255, 255, 255, 0.205);
  cursor: pointer;
}

.d_none {
  display: none;
}

.pokemon_img_overlay {
  height: 100%;
}

.pokemon_img_size_overlay {
  height: 120px;
}

.pokemon_img_overlay:hover {
  filter: drop-shadow(0px 0px 5px rgb(255, 251, 0));
}

.order_links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 8px;
}

.hover_sas:hover {
  text-shadow: 2px 2px 2px black;
}

.show_sas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.pokemon_img_shiny_size {
  height: 200px;
}

.pokemon_img_shiny {
  height: 100%;
}