.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: calc(100vh - 250px);
    overflow: auto;
}

.pokecard_front{
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 8px;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    background-color: rgba(255, 255, 255, 0.205);
    cursor: pointer;
}

.card_header{
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 16px;
    text-transform: uppercase;
}

.pokemon_img{
    margin: 16px;
    transition: ease-in-out 250ms;
}

.pokemon_img:hover{
    transform: scale(1.5) rotateZ(360deg);
}

.card_type{
    text-transform: capitalize;
    margin: 16px;
}

@media(max-width:768px){
    .pokecard_front{
        width: 270px;
    }
    .content{

        height: calc(100vh - 350px);
    }
}